{% extends '_layout.twig' %}

{% set title = 'Livraison | Los Gustos' %}
{% set footerClass = 'hide' %}

{% block content %}
<main>
  <section class="section">
    <div class="container">
      <h1 class="upper bold is-size-3 mg-b3 has-text-centered">adresse de livraison</h1>
      <form class="mauto-w" action="/pay" id="delivery-form">
        <div class="half-inputs">
          <input type="text" name="" value="{{lastName}}" placeholder="Nom">
          <input type="text" name="" value="{{firstName}}" placeholder="Prénom">
        </div>
        {% if adress %}
          <input type="text" name="" value="{{adress}}" placeholder="Adresse" class="full-w mg-t2">
        {% else %}
          <input type="text" name="" placeholder="Adresse" class="full-w mg-t2">
        {% endif %}
        <div class="half-inputs">
          {% if city %}
            <input type="text" name="" value="{{city}}" placeholder="Ville" class="mg-t2">
          {% else %}
            <input type="text" name="" placeholder="Ville" class="mg-t2">
          {% endif %}
          {% if postal %}
            <input type="text" name="" value="{{postal}}" placeholder="Code Postale" class="mg-t2">
          {% else %}
            <input type="text" name="" placeholder="Code Postale" class="mg-t2">
          {% endif %}
        </div>
        {% if phone %}
          <input type="text" name="" value="{{phone}}" placeholder="Téléphone" class="full-w mg-t2">
        {% else %}
          <input type="text" name="" placeholder="Téléphone" class="full-w mg-t2">
        {% endif %}
        <input type="submit" name="" value="continuer" class="upper bold btn mainbtn block mauto-w mg-t2 pd-l3 pd-r3 is-size-5">
      </form>
    </div>
  </section>
</main>
{% endblock %}
