{% extends '_layout.twig' %}

{% set title = 'Profile | Los Gustos' %}


{% block content %}
<main id="profile" class="login">
  <section class="section">
    <div class="container">
      <a href="logout">Deconnection</a>
      <h1 class="upper is-size-2 has-text-centered bold mg-b7">profil</h1>
      <hr>
      <form class="" method="post">
        <input type="text" name="" value="{{ firstName }}">
        <input type="text" name="" value="{{ lastName }}">
        <input type="text" name="" value="{{ email }}">
        <input type="text" name="" value="{{ adress }}">
        <input type="text" name="" value="{{ postal }}">
        <input type="text" name="" value="{{ city }}">
        <input type="submit" class="btn mainbtn upper bold" name="" value="valider">
        <a href="#" class="has-text-centered bold upper block">Annuler</a>
      </form>
    </div>
  </section>
</main>
{% endblock %}
