{% extends '_layout.twig' %}

{% set title = 'Profile | Los Gustos' %}


{% block content %}
<main id="profile" class="login">
  <section class="section">
    <div class="container">
      <a href="logout">Deconnection</a>
      <h1 class="upper is-size-2 has-text-centered bold mg-b7">profil</h1>
      <hr>
      <div class="info">
        <h2 class="upper is-size-4 bold">infos</h2>
        <div class="current_infos">
          <span class="block">{{ firstName }} {{ lastName }}</span>
          <span class="block">{{ email }}</span>
          <span class="block">{{ adress }}</span>
          <span class="block">{{ postal }}, {{ city }}</span>
        </div>
        <a href="/profile/modify">Modifier</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}
